{% extends "base.html" %}

{% block lab %}Лабораторная работа 6
<div style="display: inline-block; position: relative; margin-left: 47%; color: black; text-decoration: none; top: 25px; font-size: 16px;">
    <label style="font-size: 24px;">
        База Знаний
    </label>
    <a href="/lab6/article_list" style="border: 0px solid; margin-left: 40px; text-decoration: none; color: black;">Просмотреть заметки</a>
    <a href="/lab6/article_publish_list" style="border: 0px solid; margin-left: 10px; text-decoration: none; color: black;">Опубликованные статьи</a>
    <a href="/lab6/new_article" style="border: 0px solid; margin-left: 10px; text-decoration: none; color: black;">Создать заметку</a>
    <a href="/lab6/login" style="border: 1px solid; border-radius: 8px; padding: 5px; margin-left: 50px; text-decoration: none; color: black;">Войти</a></li>
    <a href="/lab6/register" style="border: 1px solid; border-radius: 8px; padding: 5px; color: white; background-color: blue; text-decoration: none;">Зарегистрироваться</a>
    <label>{{ username }}</label>
    <a href="/lab6/logout"><img src="/static/exit.png" width="30px" height="15px"></a>
</div>
<p>
    <a href="/menu">Меню</a>
</p>


{% endblock %}

{% block main %}

<body>
<h1>Добро пожаловать, {{ username }}!</h1>
        
<h2>Ваши заметки:</h2>
<ul>
    {% for article in articles_list %}
        <li style="border: 1px solid; padding: 5px; width: 500px; margin-top: 15px; border-radius: 8px; text-align: center;"><a href="/lab6/articles/{{ article.id }}">{{ article.article_title }}</a></li>
    {% endfor %}
</ul>

</body>


{% endblock %}