{% extends "base.html" %}

{% block lab %}Лабораторная работа 4
<p>
    <a href="/lab4/">Назад</a>
</p>
{% endblock %}

{% block main %}
    <h1>COOKIES</h1>
    <form method="post">
        <div>
            <label for="color">Выберите цвет:</label>
            <input type="color" id="color" name="color">
        </div>
        <div>
            <label for="bgcolor">Выберите цвет фона:</label>
            <input type="color" id="bgcolor" name="bgcolor">
        </div>
        <div>
            <label for="fontsize">Выберите размер шрифта:</label>
            <input type="number" id="fontsize" name="fontsize" min="5" max="30">
        </div>
        <div>
            <button type="submit">OK</button>
        </div>
    </form>
{% endblock %}