{% extends "base.html" %}

{% block lab %}Лабораторная работа 6
<p>
    <a href="/menu">Меню</a>
</p>
<p>
    <a href="/lab6">Назад</a>
</p>
<style>
    .error {
        border: 1px solid;
        color: white;
        border-radius: 5px;
        background-color: red;
    }
</style>
{% endblock %}

{% block main %}
    <form action="" method="POST">
        <h1>Авторизация</h1>
        <div>
            <p>
                <input type="text" name="username" value="{{ username or ''}}" style="border-radius: 10px; border-color: blueviolet;" placeholder="Пользователь">
            </p>
        </div>
        <div style="margin-top:  15px">
            <p>
                <input type="password" name="password" value="{{ password or ''}}" style="border-radius: 10px; border-color: blueviolet;" placeholder="Пароль">
            </p>
        </div>
        <button type="submit" style=" background-color: blue; color: white; border-radius: 5px; margin-left: 55px; margin-bottom: 10px; padding-left: 10px; padding-right: 10px;">Войти</button>
    </form>
    <span class="error">{{ errors }}</span>


{% endblock %}